*, *::before, *::after{
	box-sizing: border-box;
}
img{
	max-width: 100%
}
body{
	margin:0;
	font-family: 'PT Sans Narrow', 'Arial', sans-serif;
	font-weight: bold;
	text-transform: uppercase;
}
.body-main{
	background-color:#070707;
	background-image:url("../img/index-bg.jpg");
	background-position: center top;
	background-repeat: no-repeat;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.nav{
	font-size: 16px;
	line-height: 20px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.nav-lists{
	list-style: none;
	text-transform: uppercase;
	padding: 0;
	margin: 0;
}
.nav a{
	color:#ffffff;
	text-decoration: none;
}
.main-navigation-wrapper{
	width:100%;
	background-color: #000;
	margin-bottom: 60px;
}
.main-navigation{
	width: 940px;
	display: flex;
	margin: 0 auto;
	min-height: 72px;
}
.nav-menu{
	width: 800px;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.index-logo{
	margin-bottom: 80px;
}
.nav-menu a, .login a{
	display: block;
	padding: 26px 20px; 
	position: relative;
}
.login{
	width:140px;
	display: flex;
	justify-content: flex-end;
	margin-right: 20px;
	align-items: center;
	flex-wrap: wrap;
}
.login a{
	padding-left: 46px;
}
.login a::before{
	display: block;
	content: "";
	position: absolute;
	width: 16px;
	height: 16px;
	background-image: url("../svg/login.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	opacity: 0.3;
	top:28px;
	left: 22px;
}
.login a:hover::before{
	opacity: 1;
}
.main-navigation a:hover{
	background-color: #242424;
}
.current-page{
	border-bottom: 4px solid #fff;
	padding-bottom: 22px;
}

.container{
	width: 940px;
	margin: 0 auto;
}
.advantages{
	color:#fff;
	margin-bottom: 78px;
}
.advantages-list{
	list-style: none;
	padding: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
}
.advantages-item{
	width: 300px;
	text-align: center;
	position: relative;
}
.advantages-item::before{
	display: block;
	position: absolute;
	content: "";
	width: 20px;
	height: 20px;
	background-color: #fff;
	left: 140px;
	transform: rotate(45deg);
	top: 90px;

}
.advantages-list h3{
	font-size: 30px;
	line-height: 42px;
	text-align: center;
	margin-bottom: 70px;
}
.advantages-list p{
	font-size: 14px;
	line-height: 24px;
}
.row-wrapper{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: #f7f4f1;
	background-image:url("../img/row-bg.png"), url("../img/maincolumnbg.jpg"); 
	background-position:50% 50%, 0 0 ;
	background-repeat: no-repeat, repeat; 
	margin-bottom: 36px;
	padding-bottom: 50px;
}
.section-title{
	font-size: 32px;
	line-height: 42px;
	margin-top: 51px;
	margin-bottom: 32px;
}
.news{
	width: 380px;
	margin-left: 80px;
}
.news-list{
	list-style: none;
	padding: 0;
	margin-bottom: 33px;
}
.news-item{
	margin-bottom: 32px;
	font-size: 14px;
	line-height: 24px; 
}
.news-item p{
	margin: 0;
	margin-bottom: 10px;
}
.news-item time{
	text-transform: lowercase;
}
.button{
	font-size: 14px;
	line-height: 24px;
	width: 140px;
	padding:10px 0; 
	display: block;
	text-align: center;
	vertical-align: middle;
	background-color: #000;
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
	border:0;
}
.button:hover{
	background-color: #663d15;
}
.button:focus{
	outline: 1;
	outline-color: brown;
}
.gallery{
	width: 300px;
	margin-right: 80px;
}
.slide{
	display: block;
	background-color:#e5e5e5;
	width: 286px;
	height: 164px;
	border:7px solid #fff; 
	margin-bottom: 38px;
	box-sizing: content-box;
}
.button-wrapper{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
}
.contacts{
	width: 380px;
	margin-left: 80px;
}
.contacts p{
	font-size: 14px;
	line-height: 24px;
	margin: 0;
}
.contacts p:not(:last-of-type){
	margin-bottom: 32px;
}
.contacts .button-wrapper{
	width: 300px;
	margin-top: 27px;
}
.asign{
	width: 300px;
	margin-right: 80px;
}
.asign p{
	margin: 0;
	font-size: 14px;
	line-height: 24px;
	margin-bottom: 26px;
}
.asign-form{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}
.label-input-pair{
	width: 140px;
	display: flex;
	flex-direction: column;
}
.label-input-pair input{
	border:1px solid #000;
	box-sizing: content-box;
	vertical-align: middle;
	padding: 7px;
	font-size: 14px;
	line-height: 24px;
	margin: 14px 0;
	color: #716f6e;
	font-weight: bold;
}
.asign-form .button{
	margin-top: 20px;
	width: 100%;
}
.footer-main{
	margin-top: 65px;
	background-color: #242424;
	background-image: url("../img/footer-bg.png");
	background-repeat: repeat;
	padding-bottom: 39px;
	color:white;
	padding-top: 65px;
}
.footer-main .container{
	display: flex;
	flex-direction: row;
}
.adress{
	width: 310px;
	margin: 0;
	margin-right: 90px;
}
.map-link{
	color: #fff;
	text-decoration: underline;
}
.social-links{
	margin-right: auto;
	width: 140px;
}
.social-links p{
	text-align: center;
	margin: 0;
}
.social-links-list{
	padding: 0;
	list-style: none;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
}
.social-link{
	display: block;
	background-color: #000;
	height: 43px;
	width: 43px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.social-link:hover{
	background-color: #fff;
}
 .social-link:hover .social-hover{
	fill: #000;
}
.copyright{
	margin: 0;
	text-align: center;
}
.copyright a{
	margin-top: 12px;
}
.modal{
	background-image: url("../img/maincolumnbg.jpg");
	background-color: #f6f3f0;
	background-repeat: repeat;
	position: fixed;
	box-shadow: 0 30px 50px rgba(0,0,0,0.7);
}
.modal-login{
	display: none;
	width: 460px;
	padding: 58px 80px;
	left: 50%;
	margin-left: -230px;
	top: 15%;
}
.form-head{
	display: block;
	font-size: 30px;
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 32px;
}
.form-description{
	margin:0;
	font-size: 14px;
	margin-bottom: 5px;
}
.login-form{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}
.login-form input{
	border:2px solid #000;
	box-sizing: border-box;
	width: 100%;
	vertical-align: middle;
	padding: 7px;
	font-size: 14px;
	line-height: 24px;
	margin: 7px 0;
	color: #000;
	font-weight: bold;
	text-transform: uppercase;
	padding-left: 17px;
	opacity: 1;
	padding-right: 28px;
}
.login-form input::placeholder{
	color: #000;
}
.login-icon-img{
	background-image: url("../svg/user.svg");
	background-repeat: no-repeat;
	background-position: 270px center;
}
.login-password-img{
	background-image: url("../svg/lock.svg");
	background-repeat: no-repeat;
	background-position: 270px center;
}
.checkbox-wrapper{
	margin: 16px 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}	
.label-checkbox{
	padding-left: 25px;
	cursor: pointer;
	position: relative;
}
.label-checkbox input[type="checkbox"] + .checkbox-indicator{
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	height: 18px;
	width: 18px;
	border: 2px solid #000;
}
.label-checkbox input[type="checkbox"]:focus + .checkbox-indicator{
	border-color: #663d15;
	outline: auto;
	outline-color: lightblue;
	outline-offset: 2px;
}
.label-checkbox input[type="checkbox"]:hover + .checkbox-indicator{
	border-color: #663d15;
}
.label-checkbox:hover{
	color: #663d15;
}
.label-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after,
.label-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before{
	position: absolute;
	width: 14px;
	height: 2px;
	content: "";
	background-color: #000;
	top: 6px;
}
.label-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before{
	transform: rotate(45deg);
}

.label-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after{
	transform: rotate(-45deg);
}
.fargot-pass{
	text-decoration: none;
	border-bottom:1px solid #9d9b99;
	color:#000; 
}
.fargot-pass:hover{
	color:#663d15;
}
.login-form .button{
	width: 100%;
}
.modal-close{
	width: 22px;
	height: 22px;
	background:none;
	border:0;
	position: absolute;
	right: -30px;
	top:5px;
	cursor: pointer;
}
.modal-close:before{
	display: block;
	content: "";
	position: absolute;
	height: 19px;
	width: 3px;
	background-color: #d0d0d0;
	transform: rotate(45deg);
	top: 0px;
	left: 9px;
}
.modal-close:after{
	display: block;
	content: "";
	position: absolute;
	height: 19px;
	width: 3px;
	background-color: #d0d0d0;
	transform: rotate(-45deg);
	top: 0px;
	left: 9px;
}
.modal-map{
	display: none;
	left: 50%;
	top: 50%;
	margin-left: -378px;
	margin-top: -280px;
}
.map-wrapper{
	height: 560px;
	width: 766px;
	border:7px solid #fff;
}
.inner-navigation{
	background-color: #000;
	width: 100%
	font-size: 16px;
	line-height: 20px;
	margin-bottom: 52px;
}
.inner-navigation a{
	color:#ffffff;
	text-decoration: none;
}
.inner-logo{
	display: flex;
	justify-content: center;
	align-items: center;
}
.inner-navigation-wrapper{
	min-height: 72px;
	display: flex;
	flex-direction: row;
}
.inner-navigation-wrapper .nav-menu{
	width:660px;
	margin-right: auto;
}
.inner-body{
	background-image: url("../img/maincolumnbg.jpg");
	background-color: #f6f3f0;
	background-repeat: repeat;
}
.category-name{
	font-size: 30px;
	line-height: 42px;
	margin-bottom: 24px;
}
.path{
	width: 100%;
}
.path-list{
	font-size: 14px;
	line-height: 20px;
	padding: 0;
	list-style: none;
	display: flex;
	flex-direction: row;
	margin-bottom: 58px;
}
.path-item{
	margin-right: 46px;
	position: relative;
}
.path-item:not(:first-of-type)::before{
	display: block;
	content: "";
	position: absolute;
	height: 8px;
	width: 8px;
	top:6px;
	left:-26px;
	transform: rotate(45deg);
	background-color: #000;
}
.path-item a{
	color: #000;
	text-decoration: none;
}
.path-item:last-of-type a{
	color: #aba9a7;
}
.column-wrapper{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.filters{
	display: flex;
	flex-direction: column;
	width: 220px;
}
.fieldset{
	margin:0;
	padding: 0;
	border:0;
	margin-bottom: 50px;
}
.field-name{
	margin: 0;
	font-size: 24px;
	line-height: 30px;
	margin-bottom: 30px;
}
.fieldset label{
	position: relative;
	display: block;
	margin: 17px 0;
	padding-left:43px; 
}
.fieldset .checkbox-indicator{
	display: block;
	content: "";
	position: absolute;
	width: 20px;
	height: 20px;
	border:2px solid #000;
	top:0;
	left: 0;
}
.fieldset input[type="checkbox"]:checked + .checkbox-indicator::before,
.fieldset input[type="checkbox"]:checked + .checkbox-indicator::after{
	display: block;
	content: "";
	position: absolute;
	width: 14px;
	height: 2px;
	background-color: #000;
	top: 7px;
	left: 1px;
}
.fieldset input[type="checkbox"]:checked + .checkbox-indicator::before{
	transform: rotate(45deg);
}
.fieldset input[type="checkbox"]:checked + .checkbox-indicator::after{
	transform: rotate(-45deg);
}
.fieldset label:hover{
	color:#663d15;
}
.fieldset label:hover .checkbox-indicator{
	border-color: #663d15;
}
.fieldset input[type="checkbox"]:focus + .checkbox-indicator{
	border-color: #663d15;
	outline: auto;
	outline-color: lightblue;
	outline-offset: 2px;
}
.fieldset .radio-indicator{
	display: block;
	content: "";
	position: absolute;
	width: 20px;
	height: 20px;
	border:2px solid #000;
	border-radius: 50%;
	top:0;
	left: 0
}
.fieldset input[type="radio"]:checked + .radio-indicator::before{
	display: block;
	position: absolute;
	content: "";
	width: 10px;
	height: 10px;
	background-color: #000;
	border-radius: 50%;
	top:3px;
	left:3px;
}
.fieldset input[type="radio"]:focus + .radio-indicator{
	border-color: #663d15;
	outline: auto;
	outline-color: lightblue;
	outline-offset: 2px;
}
.fieldset label:hover .radio-indicator{
	border-color: #663d15;
}
.products{
	width: 700px;
	margin-bottom: 45px;
}
.products-list{
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
}
.product-item{
	width: 220px;
	background-color: #fff;
	box-shadow: 0 0 15px 1px rgba(0,0,0,0.2);
	padding-bottom: 16px;
	margin-bottom: 20px;
}
.product-item h3{
	margin: 15px 16px;
	font-size: 14px;
	line-height: 18px;
}
.price-buy .button{
	width: 78px;
}
.price-buy{
	width: 187px;
	display: flex;
	flex-direction: row;	
	margin: 0 auto ;
}
.price{
	display: flex;
	background-color: #e5e5e5;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	width: 109px;
}
.items-pages{
	display: flex;
	flex-direction: column;
}
.pages-list{
	padding: 0;
	margin:0;
	list-style: none;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
}
.page-number{
	display: block;
	color:#fff;
	text-decoration: none;
	font-size: 14px;
	line-height: 18px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 7px;
	background-color: #000;
	padding: 14px 18px;
}
.page-number:hover{
	background-color: #663d15;
}
.shop-page{
	color:#000;
	background-color: #fff;
}
.shop-page:hover{
	background-color: #fff;
}